<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrypTalk</title>
    <link rel="icon" href="data:;base64,=">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/main/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'dashboard/main/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/c970b059ac.js" crossorigin="anonymous"></script>
</head>
<body>
    {% csrf_token %}

    <!-- SIDEBAR -->
    <div class="dashboardContainer">
        <div class="sidebar">
            <div class="reflectionProfile">
                <img src="{{ profileimage }}">
                <h3 class="profileUsername">{{ username }}</h3>
                <div class="profileConfigs">
                    <form action="{% url 'logout_user' %}" method="get">
                        <button class="profileBtn logoutBtn fa-solid fa-right-from-bracket fa-lg"></button>
                    </form>
                    <button onclick="" class="profileBtn settingsBtn fa-solid fa-gear fa-lg"></button>
                    <button onclick="" class="profileBtn friendBtn fa-solid fa-user-group fa-lg"></button>
                </div>
            </div>


            <!-- CONTACT LIST -->

            <div class="contacts">
                <div class="contact">
                    <img src="../../static/dummyUser.png">
                    <div class="contactUsername">Mr Plook</div>
                    <div class="latestMessage">Package here yet?</div>
                </div>

                <div class="contact active">
                    <img src="../../static/dummyUser.png">
                    <div class="contactUsername">Luke Mandore</div>
                    <div class="latestMessage">Hi there.</div>
                </div>
                
                <template class="FRTemplate">
                    <div class="contact friendRequest">
                        <img src="">
                        <div class="contactUsername"></div>
                        <div class="friendRequestID"></div>
                        <button class="acceptBtn">✅ Accept</button>
                        <button class="denyBtn">❌ Deny</button>
                    </div>
                </template>

                {% for req in friendRequests %}
                    <div class="contact friendRequest">
                        <img src="{{ req.senderProfile }}">
                        <div class="contactUsername">{{req.senderUsername}}</div>
                        <div class="friendRequestID">{{req.requestID}}</div>
                        <button class="acceptBtn">✅ Accept</button>
                        <button class="denyBtn">❌ Deny</button>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="addContactPopUp">
            <button class="exitBtn fa-solid fa-x fa-xl"></button>
            <div class="container">
                <div class="title">Add Contact</div>
                <div class="description">Enter the username of the person you want to add:</div>
                <input type="text" class="input" placeholder="Username">
                <div class="msg"></div>
                <button class="submitBtn">Submit</button>
            </div>
        </div>

        <!-- Message Box -->
        <div class="msgBox">
            <div class="msgTopBar">
                <div class="contact">
                    <img src="../../static/dummyUser.png">
                    <div class="contactUsername contactInfo">Mr Plook</div>
                    <div class="contactStatus contactInfo">Online</div>
                </div>
                <div class="appInfo">
                    <div class="appInfo fa-solid fa-lock"></div>
                    <div class="appInfo appVersion">V0.5.0 BETA</div>
                    <div class="appInfo encryptionInfo">AES-256 Encryption</div>
                </div>
            </div>

            <!-- Chat Box -->
            <div class="chatBox">
                <div class="sender messageBlock">
                    <div class="contact">
                        <div class="message contactInfo">Its all working great now.<div class="time contactInfo">10:02 AM</div></div>
                    </div>
                </div>
                <div class="receiver messageBlock">
                    <div class="contact">
                        <div class="message contactInfo"> No problem!<div class="time contactInfo">3:02 AM</div></div>
                    </div>
                </div>
            </div>
            <form type="{POST}" class="typeBox">
                <textarea type="text" class="entryField" placeholder="Type your message here..."></textarea>
                <button></button>
            </form>
        </div>
    </div>

    <!-- SETTINGS -->
    <div class="settingsContainer">
        <div class="settingsTopBar">
            <div class="settingsTitle">Settings</div>
            <button onclick="displaySettings" class="exitButton fa-solid fa-x fa-2xl"></button>
        </div>
        <div class="configurations">
            <div class="configItem notiSFX">
                <div class="config notiSFXInfo">
                    NotificationSFX
                    <div>
                        Sound effect for new messages.
                    </div>
                </div>
                <button class="toggle" on></button>
            </div>
            <div class="configItem">
                <div class="config textInput">
                    Username:
                    <input type="text" name="usernameInput" class="inputBox" value="{{ username }}">
                </div>
                <div class="config textInput">
                    Password:
                    <input type="text" name="passwordInput" class="inputBox">
                </div>
                <div class="config textInput">
                    Re-enter Password:
                    <input type="text" name="passwordInput" class="inputBox">
                </div>
                <div class="config uploadFile">
                    Profile Image:
                    <button class="uploadBtn"></button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>