<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/passwordReset/password_reset.css' %}">
    <title>CrypTalk</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h1 class="resetPasswdTitle">Reset Password</h1>
        <div>
    </div>
        <input type="email" class="input" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email">
        <button class="submitBtn" type="Submit">Reset</button>
    </form>
</body>
</html>