<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrypTalk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/passwordReset/password_reset_sent.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'authentication/passwordReset/password_reset_complete.js' %}"></script>
</head>
<body>
    <div class="msg">
        <h3 class="resetPasswdTitle">Succesfully Reset Password ✅</h3>

        <p>Redirecting to Login Page in 3...</p>
    </div>
</body>
</html>