<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrypTalk</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'authentication/passwordReset/password_reset_form.css' %}">
    <script src="{% static 'authentication/login/login.js' %}"></script>
    <script src="https://kit.fontawesome.com/c970b059ac.js" crossorigin="anonymous"></script>
</head>
<body>
    <form method="POST">

        {% csrf_token %}
        <div class="box">
            <h3 class="resetPasswdTitle">Enter new Password</h3>
            <p>Password must match.</p>
            <div>
                <input class="input passwordInput" type="password" name="new_password1" placeholder="New Password" value="{{ form.new_password1.value|default:'' }}"><i class="fa-regular fa-eye"></i>
            </div>
            {% if form.password1.errors %}
                <ul class="errorlist">
                    {% for error in form.password1.errors %}
                        <li class="errorMsg">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div>  
                <input class="input" type="password" name="new_password2" placeholder="Confirm Password">
            </div>
            <button class="submitBtn" type="Submit" name="Update Password">Reset Password</button>
        </div>
    </form>

</body>
</html>