@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-y: hidden;
    font-family: Inter, 'Courier New', Courier, monospace;
    color: white;
    outline: none;
}

body {
    background: #222222;
}

form {
    display: flex;
    flex-direction: column;
    background: #313131;
    width: fit-content;
    margin: auto;
    margin-top: 15%;
    padding: 2vh;
    padding-top: 1vh;
}

.input {
    background: #181818;
    color: #FFFFFF;
    font-size: 2vh;
    padding: 1vh;
    width: 40vh;
    margin-bottom: 1vh;
}

.passwordInput {
    margin-left: 0vh;
    width: 36vh;
}

.fa-regular {
    display: flex;
    background: #181818;
    padding: 1vh;
    padding-top: 1.425vh;
    padding-bottom: 1.425vh;
    margin-bottom: -1.54vh;
    width: 4vh;
    overflow: hidden;
}

.submitBtn {
    width: fit-content;
    font-size: 2vh;
    width: 17vh;
    margin: auto;
    margin-top: 1vh;
    background: #000000;
    color: white;
    padding: 1vh;
    cursor: pointer;
    transition: background 200ms;
}

.submitBtn:hover {
    background-color: #161616;
    transition: background-color 200ms;
}

.submitBtn:active {
    transform: scale(0.98);
}

.resetPasswdTitle {
    display: absolute;
    font-size: 4vh;
    margin: auto;
    margin-bottom: 1vh;
}

.box p {
    margin-bottom: 1vh;
    margin:auto;
}

.errorMsg {
    color: rgb(237, 53, 53);
    margin-left: 1vh;
    margin-bottom: 1vh;
}