@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-y: hidden;
    font-family: Inter, 'Courier New', Courier, monospace;
}

.dashboardContainer {
    display: flex;
    background: #1A1A1A;
}

.welcomeMsg {
    position: absolute;
    left: 45%;
    top: 45%;
    color: white;
    opacity: 20%;
    font-size: 2vh;
    text-align: center;
    text-wrap: wrap;
    width: 40vh;
}

.sidebar {
    overflow: hidden;
    height: 100vh;
    width: 27.5vh;
    background: #3F3F3F;
    color: #fff;
}

.reflectionProfile {
    display: flex;
    align-items: center;
    padding: 1.5vh;
    padding-bottom: 3.2vh;
    background: #252525;
    overflow: hidden;
}

.reflectionProfile .profileConfigs .settingsBtn { 
    display: none;
}

.profileUsername{
    display: flex;
    font-size: 2vh;
    position: relative;
    left: 1vh;
    bottom: .3vh;
    height: 3vh;
    white-space: nowrap;
    flex-grow: 1;
    min-width: calc(100% - 10vh);
    scrollbar-width: thin;
}

.reflectionProfile img{
    width: 6vh;
    height: 6vh;
    flex-shrink: 0;
    border-radius: 100%;
}

.profileConfigs {
    display: flex;
    flex-direction: row;
    top: 4vh;
    right: 1.5vh;
    position: relative;
    gap: 1vh;
    flex-shrink: 0;
}


.profileBtn {
    display: relative;
    position: relative;
    height: 4vh;
    background: none;
    cursor: pointer;
    color: white;
}

.profileBtn:active {
    transform: scale(0.85);
}

/* Contacts List*/

.contacts {
    width: 27.5vh;
    height: 100%;
    overflow: scroll;
}

.contact {
    width: 27.5vh;
    height: 8vh;
    overflow-x: hidden;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: background 120ms;
}

.active{
    background: #000000;
}

.contact img{
    position: relative;
    width: 5vh;
    height: 5vh;
    top: 1.5vh;
    left: 1.5vh;
    border-radius: 100%; 
}

.contactUsername {
    position: relative;
    left: 8vh;
    bottom: 3.8vh;
    font-size: 1.7vh;
    width: 19.5vh;
}

.contacts .latestMessage{
    position: relative;
    left: 8vh;
    opacity: 60%;
    font-size: 1.5vh;
    bottom: 3.4vh;
}

.friendRequest {
    background: #6c7244;
}

.friendRequest .friendRequestID{
    display: none;
}

.friendRequest img{
    display: relative;
    width: 5vh;
    height: 5vh;
    top: 1.5vh;
    left: 1.5vh;
    border-radius: 100%;
}

.frbtn {
    position: relative;
    left: 7.3vh;
    bottom: 3.5vh;
    font-size: 1.5vh;
    padding: .3vh;
    padding-right: .6vh;
    background: none;
    cursor: pointer;
    color: white;
    border-radius: 6px 6px 6px 6px; 
    transition: background 250ms;
}

.frbtn:hover {
    background-color: #555b36;
    transition: background-color 250ms;
}

.frbtn:active {
    transform: scale(0.90);
    background-color: #b1bb71;
}

/* Settings */

.settingsContainer {
    visibility: hidden;
}

/* Chat Box */

.msgBox {
    color: white;
    width: 100%;
    background: #1A1A1A;
    display: none;
}

.details{
    display: none;
}
.msgBox .details {
    display: none;
}
.chatID {
    display: none;
}

.dummyMsgBox {
    visibility: hidden;
    display: block;
}

.msgTopBar {
    display: flex;
    padding: 1.105vh 2.211vh;
    background: #3F3F3F;
}

.msgTopBar .contact img {
    width: 7vh;
    height: 7vh;
}

.msgTopBar .contact {
    position: relative;
    bottom: 0.8vh;
    height: 8.5vh;
    cursor: default;
}

.msgTopBar .contact .contactInfo {
    position: relative;
    left: 10vh;
    bottom: 5vh;
    font-size: 2vh;
    width: 40vh;
}

.msgTopBar .contact .contactStatus {
    font-size: 1.7vh;
    opacity: 50%;
    margin-top: .5vh;
}

.msgTopBar .appInfo {
    position: relative;
    left: 22%;
    top: 70%;
    width: 36vh;
    font-size: 1.5vh;
    letter-spacing: .2vh;
    opacity: 50%;
    overflow: hidden;
}
.msgTopBar .encryptionInfo {
    left: 28%;
    top: 26%;
    font-size: 1.7vh;
}

.msgTopBar .appVersion {
    top: -20%;
    left: 36%;
}
/* Chat Box */

.chatBox {
    padding: 0vh 2.211vh;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.addContactPopUp {
    position: absolute;
    padding: 2vh;
    z-index: 3;
    color: #d4d4d4;
    bottom: 42%;
    left: 37%;
    background: #343434;
    display: none;
}

.addContactPopUp .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 3vh;
    padding-bottom: .5vh;
    padding-right: 0vh;
}

.addContactPopUp .exitBtn {
    display: absolute;
    cursor: pointer;
    width: 2.7vh;
    height: 2.7vh;
    background: none;
    color: #d4d4d4;
    left: 10vh;
}

.addContactPopUp .FRInput {
    background: #181818;
    color: white;
    width: 47vh;
    padding: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.addContactPopUp .msg {
    margin-bottom: 1vh;
    display: none;
}

.addContactPopUp .title {
    font-size: 4vh;
    left: 3vh;
    font-style: bold;
}

.addContactPopUp .exitBtn{
    display: relative;
    float: right;
}

.addContactPopUp .exitBtn:active {
    transform: scale(0.90);
}

.addContactPopUp .description {
    margin: 1vh;
    font-size: 2vh;
}

.addContactPopUp .submitBtn {
    background: #000000;
    color: #d4d4d4;
    padding: 1vh;
    font-size: 2vh;
    cursor: pointer;
    transition: background 200ms;
}

.addContactPopUp .submitBtn:hover {
    background-color: #161616;
    transition: background-color 200ms;
}

.addContactPopUp .submitBtn:active {
    transform: scale(0.98);
}

.messageBlock {
    display: flex;
    max-width: 50%;
    height: auto;
    overflow: visible;
    width: fit-content;
    text-decoration: none;
    margin-right: 50%;
    margin-bottom: 1vh;
    margin-top: 1vh;
    float: left;
}

.receiver {
    margin-right: 0%;
    margin-left: 50%;
    float: right;
}

.messageBlock .contact {
    display: relative;
    position: relative;
    max-width: 100%;
    width: fit-content;
    height: max-content;
    cursor: default;
    float: left;
}

.messageBlock .contact .message {
    font-size: 2vh;
    background: #4D4D4D;
    color: white;
    padding: 1.2vh;
    padding-top: .6vh;
    padding-right: 1.5vh;
    padding-bottom: .2vh;
    word-wrap: break-word;
    border-radius: 2.5vh 2.5vh 2.5vh 0vh; 
    overflow-x: none;
}

.messageBlock .contact .message .messageContent{
    right: 10vh;
    height: auto;
}

.messageBlock .contact .time {
    margin-top: .5vh; 
    float: right;
    margin-left: 1vh;
    margin-bottom: 1vh;
    font-size: 1.5vh;
    color: #999;
}

.receiver .contact .message {
    border-radius: 2.5vh 2.5vh 0vh 2.5vh;
    padding-left: 1.5vh;
    padding-right: 1.2vh;
    background: #005593;
}

.entryField {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    width: 100%;
    height: 60%;
    padding: 1vh;
    font-size: 2.2vh;
    overflow-y: auto;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    background: #313131;
    color: white;
}

.entryFieldDiv{
    background: #313131;
}

.requestID {
    display: none;
}